{%extends 'nav.html' %}
{%block content%}
{%load static%}
<!--3 pictures--> 
<p  class="header_title">All Products</p>
<!--form-->
		


<div class="grid-container_all">
	<div class="item1_all">
	<img id="img1" onmouseover="setNewImage1()" onmouseout="setOldImage1()" 
		src="{% static 'images/Screenshot 2021-09-30 205906.png'%}"
		alt="bath sink" class="picture_format_all"/></a>
	<a href="#" class="product_name" style="padding-left: 40px; ">Bathroom Sink (₱40,840)</a></div>
	<div class="item2_all">
	<img id="img2" onmouseover="setNewImage2()" onmouseout="setOldImage2()"
		src="{% static 'images/Screenshot 2021-09-30 210052.png'%}"
		alt="Storage Rack" class="picture_format_all"/></a>
	<a href="#" class="product_name" style="padding-left: 10px; ">Aluminum Bathroom Rack (₱159)</a></div>

	<div class="item3_all">
		<img id="img3" onmouseover="setNewImage3()" onmouseout="setOldImage3()"
			src="{% static 'images/Screenshot 2021-09-30 210205.png'%}"
			alt="curtain" class="picture_format_all"/></a>
	<a href="#" class="product_name" style="padding-left: 60px; ">Shower curtain (₱100)</a></div>

	<div class="item4_all">
		<img id="img4" onmouseover="setNewImage4()" onmouseout="setOldImage4()"
			src="{% static 'images/Screenshot 2021-09-30 210451.png'%}"
			alt="tootbrush holder" class="picture_format_all"/></a>
	<a href="#" class="product_name" style="padding-left: 40px; ">Toothbrush Holder (₱499)</a></div>

	<div class="item5_all">
			<img id="img5" onmouseover="setNewImage5()" onmouseout="setOldImage5()"
			src="{% static 'images/Screenshot 2021-09-30 210552.png'%}"
			alt="shower mat" class="picture_format_all"/></a>
	<a href="#" class="product_name" style="padding-left: 30px; ">Bathroom Shower Mat (₱26)</a></div>
	</div>


	<br>
	<a href="{% url 'product5/' %}" class="button">&laquo; Back</a>
	<br><br>
	<div class="text-center">
	<a href="{%url 'customerpage/'%}" class="button">Order Here</a>
	</div>
</div>
{% endblock %}