{%extends 'nav.html' %}
{%block content%}
{%load static%}

<!--topnav--> 
<p  class="header_title">Home</p>

<div class="grid-container">
<div class="item_index"class="welcome_index_design"><em style="font-size: 40px;">Welcome to abodeesentials!</em><br>
	<br>Make your home looks like a safe haven pleasing to everyones eyes with our recommendations! Home decor expresses how you feel and live. Decoration can be life-enhancing. It can make dinner parties more fun, kids happier, relaxing easier, talks more intimate, guests at ease.<br><br>
	As we serve and recommed you a high quality and very aesthetic house essentials, you can also suggest some home essentials to us.  
	<br><br>As we serve and recommed you a high quality and very aesthetic house essentials, you can browse and order here! We offer fast, safe and same day delivery. Feel free and explore abodeesssentials.
</div>
<div class="item_index2">
	<iframe
	width="560"
	height="315"
	src="https://www.youtube.com/embed/4XoPG0ZEwZI?autoplay=1&mute=1 " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>
{% endblock %}